
 .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    
    position: absolute;
    height: 54px;
    left: 553px;
    right: 604px;
    bottom: 569px;
    
    background: #22A5AD;
    border-radius: 100px;
 }
 body {
    display:flex;
    align-items:center;
    vertical-align: middle;
  }

  .e {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    
    position: absolute;
    height: 54px;
    left: 553px;
    right: 604px;
    bottom: 569px;
    
    background: #22A5AD;
    border-radius: 100px;
  }
